In [6]:
# test the sql scripts to make the calls to the database 
from sqlalchemy import create_engine 
from sqlalchemy.orm import Session
import json 
from api_keys import pg_key

In [7]:
url = f"postgresql://postgres:{pg_key}@localhost:5432/Climate_DB" 
engine = create_engine(url) 
conn = engine.connect()

In [8]:
# get the list of stations and their locations 
results = conn.execute("SELECT * FROM cl_stations")
station_list = []
for station in results:
  res = {"station_id": station[0],
  "station_name_long":station[1], 
  "station_name_short":station[2], 
  "coord":{"lat":float(station[3]), "lon":float(station[4])}}
  station_list.append(res)

In [10]:
# function to make the SQL needed to get humidity data for a station 
def get_hum(station_id):
  sql = 'SELECT st.station_name_short, st.lat, st.lon,'\
      'rc.rcp_id, md.model_id,'\
      'cy.climatology_year_range, hum.annual,'\
      'hum.january, hum.february, hum.march, hum.april, hum.may, hum.june,'\
      'hum.july, hum.august, hum.september, hum.october, hum.november, hum.december '\
  'FROM public.cl_humidity_09hours AS hum '\
  'JOIN public.cl_stations As st '\
  'ON hum.station_id = st.station_id '\
  'JOIN public.cl_models As md '\
  'ON hum.model_id = md.model_id '\
  'JOIN public.cl_rcp As rc '\
  'ON hum.rcp_id = rc.rcp_id '\
  'JOIN public.cl_climatology_years As cy '\
  'ON hum.climatology_year = cy.climatology_year '\
  'WHERE st.station_id = ' + str(station_id)

  data = [ ]
  results = conn.execute(sql)
  for res in results:
    row = { 
      "variable": "humidity at 9AM",
      "station_name": res[0],
      "coord": {"lat":float(res[1]), "lon":float(res[2]) },
      "rcp_id":res[3], 
      "model_id":res[4],
      "climatology_year_range":res[5],
      "annual":float(res[6]),
      "january":float(res[7]), 
      "february":float(res[8]), 
      "march":float(res[9]), 
      "april":float(res[10]), 
      "may":float(res[11]),     
      "june":float(res[12]),
      "july":float(res[13]), 
      "august":float(res[14]), 
      "september":float(res[15]), 
      "october":float(res[16]), 
      "november":float(res[17]), 
      "december":float(res[18])
    }
    data.append(row)
  return data

In [11]:
station_id = station_list[0]['station_id'] 
data = get_hum(station_id)
print(data[0])

{'variable': 'humidity at 9AM', 'station_name': 'Williamtown', 'coord': {'lat': -32.79, 'lon': 151.84}, 'rcp_id': 'RCP26', 'model_id': 'CESM1-CAM5', 'climatology_year_range': '2020-2039', 'annual': 73.13, 'january': 73.17, 'february': 79.51, 'march': 78.91, 'april': 77.39, 'may': 79.91, 'june': 78.89, 'july': 77.0, 'august': 70.85, 'september': 64.07, 'october': 61.41, 'november': 67.18, 'december': 69.32}

In [22]:
def get_temp(station_id):
  sql = 'SELECT 	st.station_name_short, st.lat, st.lon,'\
		'rc.rcp_id, md.model_id,'\
		'cy.climatology_year_range, tm.annual,'\
		'tm.january, tm.february, tm.march, tm.april, tm.may, tm.june,'\
		'tm.july, tm.august, tm.september, tm.october, tm.november, tm.december '\
    'FROM public.cl_mean_temperatures AS tm '\
    'JOIN public.cl_stations As st '\
    'ON tm.station_id = st.station_id '\
    'JOIN public.cl_models As md '\
    'ON tm.model_id = md.model_id '\
    'JOIN public.cl_rcp As rc '\
    'ON tm.rcp_id = rc.rcp_id '\
    'JOIN public.cl_climatology_years As cy '\
    'ON tm.climatology_year = cy.climatology_year '\
    'WHERE	st.station_id =' + str(station_id) 
  data = [] 
  results = conn.execute(sql)
  for res in results: 
    row = {
      "variable": "mean temperature",
      "station_name": res[0],
      "coord": {"lat":float(res[1]), "lon":float(res[2]) },
      "rcp_id":res[3], 
      "model_id":res[4],
      "climatology_year_range":res[5],
      "annual":float(res[6]),
      "january":float(res[7]), 
      "february":float(res[8]), 
      "march":float(res[9]), 
      "april":float(res[10]), 
      "may":float(res[11]),     
      "june":float(res[12]),
      "july":float(res[13]), 
      "august":float(res[14]), 
      "september":float(res[15]), 
      "october":float(res[16]), 
      "november":float(res[17]), 
      "december":float(res[18])
    }
    data.append(row)
  return data

In [23]:
station_id = station_list[0]['station_id'] 
print(station_id)
data = get_temp(station_id)
print(data[0])

61078
{'variable': 'mean temperature', 'station_name': 'Williamtown', 'coord': {'lat': -32.79, 'lon': 151.84}, 'rcp_id': 'RCP26', 'model_id': 'CESM1-CAM5', 'climatology_year_range': '2020-2039', 'annual': 24.13, 'january': 29.36, 'february': 28.84, 'march': 26.8, 'april': 24.87, 'may': 21.44, 'june': 18.93, 'july': 18.36, 'august': 19.78, 'september': 22.26, 'october': 24.84, 'november': 26.18, 'december': 27.86}